## 4.8 Grouping Data & Aggregating Variables

### 1. Import libraries
### 2. Import Data Frame
### 3. Grouping Data with pandas
### 4. Aggregating Data with agg()
### 5. Aggregating Data with transform()
### 6. Deriving Columns with loc()
### 7. 4.8 Task: Grouping Data & Aggregating Variables
    ### - Find the aggregated mean of the “order_number” column grouped by “department_id” for entire dataframe
    ### - Check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). 
    ### - Create a spending flag for each user based on the average price across all their orders using the specific criteria.
    ### - Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column with using the specific criteria. 
    ### - Missing value are 5 and to addresing these missing value .
### 8. Export Data Frame

## 1. Import libraries

In [2]:
## import libraries

import pandas as pd
import numpy as np
import os

## 2. Import Data Frame

In [3]:
## import data frame

path = r'/Users/eriseldabaci/Desktop/CareerFoundry/Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [4]:
path

'/Users/eriseldabaci/Desktop/CareerFoundry/Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [5]:
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data ', 'orders_products_combined_new_variable.pkl'))

In [6]:
df = df_ords_prods_merged[:1000000]
df.shape

(1000000, 20)

In [7]:
df.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,Busiest day,Busyness_Level,Busiest days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Fewest orders
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Slowest days,Fewest orders
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Slowest days,Average orders
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,both,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Slowest days,Fewest orders
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,both,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Slowest days,Fewest orders

## 3. Grouping Data with pandas

In [8]:
## grouping data

df.groupby('product_name')

## 4. Aggregating Data with agg()

### - Performing a Single Aggregation

In [9]:
## Performing a Single Aggregation

df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [10]:
## The command above could be replaced with a command that uses the mean() function to achieve the same results:

df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [11]:
## set the column name off with a dot, the same output as the function with brackets:

df.groupby('department_id').order_number.mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

### - Performing Multiple Aggregations

In [12]:
df.groupby('department_id').agg({'order_number': ['mean','min','max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

## 5. Aggregating Data with transform()

In [13]:
df_ords_prods_merged['max_order'] = df_ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [14]:
df_ords_prods_merged.head(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,price_range_loc,Busiest day,Busyness_Level,Busiest days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Fewest orders,10
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Slowest days,Fewest orders,10
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Slowest days,Average orders,10
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,...,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Slowest days,Fewest orders,10
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,...,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Slowest days,Fewest orders,10
5,3367565,1,6,2,7,19.0,False,196.0,1.0,1.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Fewest orders,10
6,550135,1,7,1,9,20.0,False,196.0,1.0,1.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Busiest days,Fewest orders,10
7,3108588,1,8,1,14,14.0,False,196.0,2.0,1.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Busiest days,Average orders,10
8,2295261,1,9,1,16,0.0,False,196.0,4.0,1.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,False,196.0,1.0,1.0,...,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Slowest days,Fewest orders,10
10,2968173,15,15,1,9,7.0,False,196.0,2.0,0.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Busiest days,Fewest orders,22
11,1870022,15,17,2,16,8.0,False,196.0,6.0,1.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,False,196.0,1.0,1.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Average orders,22
13,2715276,15,21,1,9,7.0,False,196.0,1.0,1.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Busiest days,Fewest orders,22
14,487368,15,22,1,10,14.0,False,196.0,1.0,1.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Busiest days,Fewest orders,22

In [15]:
df_ords_prods_merged.head(100)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,price_range_loc,Busiest day,Busyness_Level,Busiest days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Fewest orders,10
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Slowest days,Fewest orders,10
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Slowest days,Average orders,10
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,...,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Slowest days,Fewest orders,10
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,...,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Slowest days,Fewest orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,NaN,True,196.0,1.0,0.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Average orders,3
96,1469869,377,3,5,17,3.0,False,196.0,9.0,0.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Most orders,3
97,1927023,387,2,4,10,22.0,False,196.0,3.0,0.0,...,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Slowest days,Fewest orders,8
98,858092,420,4,1,19,30.0,False,196.0,2.0,0.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Busiest days,Most orders,22
99,119314,420,5,3,19,16.0,False,196.0,2.0,1.0,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Slowest days,Most orders,22

## 6. Deriving Columns with loc()

In [16]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [1]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

NameError: name 'ords_prods_merge' is not defined

In [18]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [19]:
df_ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [20]:
df_ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

## 7. 4.8 Task : Grouping & Aggregating Variables

 ### - Find the aggregated mean of the “order_number” column grouped by “department_id” for entire dataframe

In [21]:
 ### - Find the aggregated mean of the “order_number” column grouped by “department_id” for entire dataframe
    
df_ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#### The result of the entire data frame is different form the subset, the department_ID 21 has the max mean around 23, which is different form subset when there the max mean is around 19 and the department_id is 19 and of course this change what their best-selling departments is.

### - Check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer).

In [22]:
df_ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

### - Create a spending flag for each user based on the average price across all their orders using the following criteria:
- If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
- If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [23]:
## Create a new column 'average_price' with aggregated mean() 'prices' by user_id

df_ords_prods_merged['average_price'] = df_ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [24]:
## Check the output

df_ords_prods_merged.head(20)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,department_id,prices,price_range_loc,Busiest day,Busyness_Level,Busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Fewest orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Regularly busy,Slowest days,Slowest days,Fewest orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Regularly busy,Slowest days,Slowest days,Average orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Least busy,Slowest days,Slowest days,Fewest orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Least busy,Slowest days,Slowest days,Fewest orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Fewest orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Busiest days,Fewest orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,False,196.0,2.0,1.0,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Busiest days,Average orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,False,196.0,4.0,1.0,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Least busy,Slowest days,Slowest days,Fewest orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,False,196.0,2.0,0.0,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Busiest days,Fewest orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,False,196.0,6.0,1.0,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Average orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Busiest days,Fewest orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Busiest days,Fewest orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,False,196.0,3.0,0.0,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Average orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,False,196.0,15.0,1.0,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Average orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Least busy,Slowest days,Slowest days,Most orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,False,196.0,2.0,0.0,...,7,9.0,Mid-range product,Regularly busy,Slowest days,Slowest days,Fewest orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,False,196.0,17.0,0.0,...,7,9.0,Mid-range product,Regularly busy,Slowest days,Slowest days,Fewest orders,20,Regular customer,8.137793

In [25]:
# FLAG - Low spender (lowest average price value)

df_ords_prods_merged.loc[df_ords_prods_merged['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [26]:
# FLAG - High spender (higher average price value)

df_ords_prods_merged.loc[df_ords_prods_merged['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [27]:
# Check Output of spending_flag 

df_ords_prods_merged['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [28]:
## Check the columns of speding_flas

df_ords_prods_merged[['user_id', 'spending_flag', 'prices']].head(60)

    user_id spending_flag  prices
0         1   Low spender     9.0
1         1   Low spender     9.0
2         1   Low spender     9.0
3         1   Low spender     9.0
4         1   Low spender     9.0
5         1   Low spender     9.0
6         1   Low spender     9.0
7         1   Low spender     9.0
8         1   Low spender     9.0
9         1   Low spender     9.0
10       15   Low spender     9.0
11       15   Low spender     9.0
12       15   Low spender     9.0
13       15   Low spender     9.0
14       15   Low spender     9.0
15       19   Low spender     9.0
16       19   Low spender     9.0
17       19   Low spender     9.0
18       21   Low spender     9.0
19       31   Low spender     9.0
20       31   Low spender     9.0
21       43   Low spender     9.0
22       43   Low spender     9.0
23       52   Low spender     9.0
24       52   Low spender     9.0
25       52   Low spender     9.0
26       52   Low spender     9.0
27       52   Low spender     9.0
28       52   Low spender     9.0
29       52   Low spender     9.0
30       52   Low spender     9.0
31       52   Low spender     9.0
32       52   Low spender     9.0
33       52   Low spender     9.0
34       52   Low spender     9.0
35       52   Low spender     9.0
36       52   Low spender     9.0
37       67   Low spender     9.0
38       67   Low spender     9.0
39       67   Low spender     9.0
40       67   Low spender     9.0
41       67   Low spender     9.0
42       67   Low spender     9.0
43       67   Low spender     9.0
44       67   Low spender     9.0
45       67   Low spender     9.0
46       67   Low spender     9.0
47       67   Low spender     9.0
48       67   Low spender     9.0
49       67   Low spender     9.0
50       67   Low spender     9.0
51       67   Low spender     9.0
52       67   Low spender     9.0
53       67   Low spender     9.0
54       67   Low spender     9.0
55       67   Low spender     9.0
56       81   Low spender     9.0
57       81   Low spender     9.0
58       82   Low spender     9.0
59       82   Low spender     9.0

### - Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column with using the specific criteria. The criteria for the flag should be as follows:
- If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
- If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
- If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [29]:
## # MEDIAN FLAG (for days_since_prior_order)- Create 'ordering_behavior' column with aggregated median days_since_prior_order by user_id

df_ords_prods_merged['ordering_behavior'] = df_ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [30]:
## check the data frame 

df_ords_prods_merged.head(20)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,price_range_loc,Busiest day,Busyness_Level,Busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,ordering_behavior
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,...,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Fewest orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,...,Mid-range product,Regularly busy,Slowest days,Slowest days,Fewest orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,...,Mid-range product,Regularly busy,Slowest days,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,...,Mid-range product,Least busy,Slowest days,Slowest days,Fewest orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,...,Mid-range product,Least busy,Slowest days,Slowest days,Fewest orders,10,New customer,6.367797,Low spender,20.5
5,3367565,1,6,2,7,19.0,False,196.0,1.0,1.0,...,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Fewest orders,10,New customer,6.367797,Low spender,20.5
6,550135,1,7,1,9,20.0,False,196.0,1.0,1.0,...,Mid-range product,Regularly busy,Busiest days,Busiest days,Fewest orders,10,New customer,6.367797,Low spender,20.5
7,3108588,1,8,1,14,14.0,False,196.0,2.0,1.0,...,Mid-range product,Regularly busy,Busiest days,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5
8,2295261,1,9,1,16,0.0,False,196.0,4.0,1.0,...,Mid-range product,Regularly busy,Busiest days,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
9,2550362,1,10,4,8,30.0,False,196.0,1.0,1.0,...,Mid-range product,Least busy,Slowest days,Slowest days,Fewest orders,10,New customer,6.367797,Low spender,20.5
10,2968173,15,15,1,9,7.0,False,196.0,2.0,0.0,...,Mid-range product,Regularly busy,Busiest days,Busiest days,Fewest orders,22,Regular customer,3.980556,Low spender,10.0
11,1870022,15,17,2,16,8.0,False,196.0,6.0,1.0,...,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
12,1911383,15,18,2,11,7.0,False,196.0,1.0,1.0,...,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Average orders,22,Regular customer,3.980556,Low spender,10.0
13,2715276,15,21,1,9,7.0,False,196.0,1.0,1.0,...,Mid-range product,Regularly busy,Busiest days,Busiest days,Fewest orders,22,Regular customer,3.980556,Low spender,10.0
14,487368,15,22,1,10,14.0,False,196.0,1.0,1.0,...,Mid-range product,Regularly busy,Busiest days,Busiest days,Fewest orders,22,Regular customer,3.980556,Low spender,10.0
15,2293453,19,2,5,14,6.0,False,196.0,3.0,0.0,...,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Average orders,9,New customer,8.372059,Low spender,6.0
16,1973799,19,5,6,12,8.0,False,196.0,15.0,1.0,...,Mid-range product,Regularly busy,Regularly busy,Regularly busy,Average orders,9,New customer,8.372059,Low spender,6.0
17,532817,19,7,4,17,6.0,False,196.0,1.0,1.0,...,Mid-range product,Least busy,Slowest days,Slowest days,Most orders,9,New customer,8.372059,Low spender,6.0
18,1573906,21,10,3,10,6.0,False,196.0,2.0,0.0,...,Mid-range product,Regularly busy,Slowest days,Slowest days,Fewest orders,33,Regular customer,7.012683,Low spender,7.5
19,1593000,31,10,3,8,7.0,False,196.0,17.0,0.0,...,Mid-range product,Regularly busy,Slowest days,Slowest days,Fewest orders,20,Regular customer,8.137793,Low spender,6.0

In [31]:
## Flag - 'Non-frequent customer' based on 'ordering_behavior'

df_ords_prods_merged.loc[df_ords_prods_merged['ordering_behavior'] > 20, 'order_frequency'] = 'Non-frequent customer'

In [32]:
## Flag - 'Regular customer' based on 'ordering_behavior'

df_ords_prods_merged.loc[(df_ords_prods_merged['ordering_behavior'] > 10) & (df_ords_prods_merged['ordering_behavior'] <= 20), 'order_frequency'] = 'Regular customer'

In [33]:
## Flag - 'Frequent customer' based on 'ordering_behavior'

df_ords_prods_merged.loc[df_ords_prods_merged['ordering_behavior'] <= 10, 'order_frequency'] = 'Frequent customer'

In [34]:
## Check out the output

df_ords_prods_merged['order_frequency'].value_counts(dropna=False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency, dtype: int64

### - Missing value are 5 and to addresing these missing value

In [35]:
# Missing Value Subset

df_ords_prods_merged_nan = df_ords_prods_merged.loc[df_ords_prods_merged['order_frequency'].isnull()==True]

df_ords_prods_merged_nan.shape

(5, 26)

In [36]:
# Check DataFrame Dimension (before removing missing values in order frequency column)

df_ords_prods_merged.shape

(32404859, 26)

In [37]:
# Create new products dataframe without missing values and Check DataFrame dimension

df_ords_prods_merged_clean = df_ords_prods_merged[df_ords_prods_merged['order_frequency'].isnull()==False]

df_ords_prods_merged_clean.shape

(32404854, 26)

In [38]:
# Check Output of MEDIAN FLAG

df_ords_prods_merged[['user_id', 'spending_flag', 'order_frequency', 'ordering_behavior']].head(20)

    user_id spending_flag        order_frequency  ordering_behavior
0         1   Low spender  Non-frequent customer               20.5
1         1   Low spender  Non-frequent customer               20.5
2         1   Low spender  Non-frequent customer               20.5
3         1   Low spender  Non-frequent customer               20.5
4         1   Low spender  Non-frequent customer               20.5
5         1   Low spender  Non-frequent customer               20.5
6         1   Low spender  Non-frequent customer               20.5
7         1   Low spender  Non-frequent customer               20.5
8         1   Low spender  Non-frequent customer               20.5
9         1   Low spender  Non-frequent customer               20.5
10       15   Low spender      Frequent customer               10.0
11       15   Low spender      Frequent customer               10.0
12       15   Low spender      Frequent customer               10.0
13       15   Low spender      Frequent customer               10.0
14       15   Low spender      Frequent customer               10.0
15       19   Low spender      Frequent customer                6.0
16       19   Low spender      Frequent customer                6.0
17       19   Low spender      Frequent customer                6.0
18       21   Low spender      Frequent customer                7.5
19       31   Low spender      Frequent customer                6.0

### 8. Export Data Frame

In [39]:
# Export data to pkl

df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data ', 'orders_products_combined_update2.pkl'))

In [40]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,Busiest day,Busyness_Level,Busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,ordering_behavior,order_frequency
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,...,Regularly busy,Regularly busy,Regularly busy,Fewest orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,...,Regularly busy,Slowest days,Slowest days,Fewest orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,...,Regularly busy,Slowest days,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,...,Least busy,Slowest days,Slowest days,Fewest orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,...,Least busy,Slowest days,Slowest days,Fewest orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer